@media (min-width: 400px) {

    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
}
      
@media screen and (max-width:820px){
    header .container {
        display: flex;
        flex-direction: column; 
    }    
    
    header .container .menu{
        margin-bottom: 1%;
    }

    .carousel-caption h1 {
        margin-bottom: 1.25rem;
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1rem;
        line-height: 1.4;
    }

    .carousel-item {
        height: 400px;
    }

    .titulo {
        padding-top: 50px;
        font-size: 2.5rem;
    }

    #botaoDownloads {
        margin-top: 100px;
    }

    #botaoBlog {
        margin-top: 100px ;
    }

    #blogEstrutura {
        margin-top: 100px ;
    }

    #blogProcessos {
        margin-top: 100px ;
    }

    #blogFinanceiro {
        margin-top: 100px ;
    }

    #botaoAgenda {
        margin-top: 100px ;
    }

}
